@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


.section-header {
    font-family: 'Dosis';
    font-weight: normal;
    color: #666666;
    text-align: center;
    font-size: 2.5em;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color:#666666;
    text-align: left;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 30%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #666666;
    padding: 0 2em;
    padding-bottom: 10px;
}

.cart-quantity {
    width: 20%;
}

.cart-item-title {
    color: #666666;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.cart-total-price {
    color: #666666;
    font-size: 1.1em;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #666666;
    margin-right: 2em;
    
}

.btn-purchase {
    display: block;
    margin: 1em auto;
    
}
.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.btn-danger {margin-left: 0.2em }

.dropbtn {
background-color: #3498DB;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
margin-right: 5em;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 20em;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .cart-row {
color: black;
padding: 12px 16px;
text-decoration: none;
display: flex;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#myDropdown {width: 35em;}

.cart-headings {flex: none;
padding-right: 3em;
}

.item-heading {margin-left: -4em;
                padding-right: 4em;
}

.price-heading {padding-right: 2em;}

.navbar {padding: 0.5em 10em;}

.reduceMarginLeft {margin-left: -7em;}