nav {   display: flex;
        margin-left: 3em;
        justify-content:space-around;
        list-style-type: none;
        height: auto;
        padding-top: 1%;
        padding-bottom: 1%;
        padding: 1em 5em;
        position: relative;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        
    }

nav a {display: flex;
        text-transform: uppercase
    } 

nav a:link {text-decoration: none; color: white}

.logo {font-family: 'Dosis';
    font-size: 1.875em;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.394em;
    text-align: center;
    color: #fffefe;}

body {background: #333333;}

h1 {font-family: 'Dosis', sans-serif;
    font-size: 3.125em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: -3.75em;
    
}

p {color: #e6e6e6}

header {height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;}

.btn { margin-top: 2em;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #a88d7b;
  }

span.lnr-chevron-down {width: 20px;
    height: 20px;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

section.featured-products {height: 100vh;
                            background: #f5f5f5;    
}

h2.featured-heading {padding-top: 1em;
    font-family: 'Source Sans Pro';
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #333333}

hr.subheading-line { align-content: center;
        width: 3.125em;
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 2px;
        background-color: #a88d7b;
      }

.featured-image-block { display: flex;
                width: 23.125em;
                height: 22.500em;
                background-color: #666666;
                }

h3.featured-text-title {width: 9.875em;
    height: 1.125em;
    font-family: 'Source Sans Pro';
    font-size: 1.259em;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    display: inline-block;
    text-align: center;
    color: #333333}

.featured-text-price {width: 3.250em;
    height: 0.688em;
    font-family: 'Source Sans Pro';
    font-size: 0.938em;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
    display: inline-block;
}
      
.col-3 {margin: 2em;
        text-align: center;
}

section.new-collection {height: 100vh;
    background: #ffffff;    

}

section.company-page {height: 100vh;
    background: #282828;}

section.blog {height: 100vh;
    background: #f9f9f9}

.blog-image-block {width: 36.563em;
    height: 25.313em;
    background-color: #666666;
  }

.col-6 {justify-content: center}

.new-collection-image-block {display: flex;
    width: 35.625em;
    height: 23.313em;
    background-color: #666666;}
    
h3.new-collection-text-title {width: 9.875em;
        height: 1.125em;
        font-family: 'Source Sans Pro';
        font-size: 1.259em;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.4;
        letter-spacing: normal;
        display: block;
        position: center;
        margin: auto;
        color: #a88d7b}

.new-collection-text-price {width: 3.250em;
    height: 0.688em;
    font-family: 'Source Sans Pro';
    font-size: 0.938em;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
    display: inline-block;
}



.footer-column {
    float: left; 
    width: 23%;
    color: #999999; 
    padding: 2em;
    font-family: 'Source Sans Pro', sans-serif; 
    }

.footer-column ul li {padding-top: 1em;}

#footer-heading1 {font-family: 'Dosis';
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2em;
    text-align: left;
    padding-left: 1em;
    color: #ffffff}

.footer-heading { text-transform: uppercase; 
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-left: 2em;
    }

.insta-block {width: 80px;
    height: 80px;
    background-color:#ffffff;

    }

table.insta tr td {padding:0.3em 0.45em}

ul {list-style: none}

